body {
  padding: 10px 30px;
}

.breed-select {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 5px;
  font-size: 17px;
  color: aliceblue;
  background-color: rgb(66, 104, 199);
}

.wrapper-card {
  display: flex;
}

.wrapper-info {
  width: 500px;
}

.image-cat {
  margin-right: 30px;
}
